{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>About ...</h1>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis libero earum unde ab at necessitatibus! Quas tempora, fuga nulla tenetur repellat beatae laborum commodi obcaecati architecto aperiam incidunt eligendi in?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/coca-cola-33cl-15.jpg" alt="" class="img-thumbnail mt-5">
        </div>
    </div>

    {{> footer }}


